.fpt { font-family: 'PlayTangram', sans-serif; color: #fff; }
.fbb { font-family: 'baby_bb33', sans-serif; }

.this { display: flex; justify-content: center; align-items: center; height: 100%; margin: 0; padding: 0; background-color: transparent; }

html, body { display: flex; width: 100%; height: 100%; margin: 0; padding: 0; background: #000; justify-content: center; align-items: center; overflow: hidden; }
body>main, article, .sheet { width: var(--w); height: var(--h); }
article { display: flex; flex-direction: column; width: 100%; height: 100%; justify-content: center; align-items: center; }

/** .sheet.bgs */
.sheet.bgs>div { width: 100%; display: flex; flex-wrap: wrap; }
.sheet.bgs>div p { position: absolute; width: 100%; bottom: 32px; font-size: 24px; line-height: 48px; color: #dae; text-align: center; user-select: none; }

/** .sheet.fgs */
.sheet.fgs>div { position: absolute; display: flex; width: 100%; top:220px; justify-content: center; }
.sheet.fgs>div>p { width: 544px; height: 48px; margin: 4px; padding: 0 4px; font-size: 24px; text-align: center; color: #eda; user-select: none; }
.sheet.fgs>div>p:first-child, .sheet.fgs>div>p:last-child { width: 0px; }

/*** .sheet.uis */
.sheet.uis .so.btns { position: absolute; }
.sheet.uis .so.btns.menu { display: block; left: calc(100% + 8px); top: 50%; }
.sheet.uis.vertical .so.btns.menu { display: flex; width: 100%; left: 50%; top: calc(100% + 8px); }

.sheet.uis .so.btns.categories { display: block; right: calc(100% + 8px); top: 0; }
.sheet.uis.vertical .so.btns.categories { display: flex; width: 100%; left: 0; top: -80px; }

.sheet.uis .so.btns .btn { 
	position: relative; display: flex; 
	width: 64px; height: 64px; margin: 8px; 
	border: 1px solid #daea; 
	font-size: 40px; line-height: 40px; color: #dae;
	justify-content: center; align-items: center; cursor: pointer; 
}
.sheet.uis .so.btns .btn span { position: absolute; display: block; font-size: 0px; white-space: nowrap; }
.sheet.uis .so.btns .btn:hover span { font-size: 24px; }
.sheet.uis .so.btns .btn.on { border-color: #dae; }

.sheet.uis .btns.menu .btn.home { background: no-repeat 0 0 / 100% url(rsc/svg/ico-tanhome.svg); }

.sheet.uis .so.btns.menu .btn span { left: calc(100% + 8px); }
.sheet.uis.vertical .so.btns.menu .btn span { left: auto; top: calc(100% + 8px); }

.sheet.uis .so.btns.categories .btn span { right: 80px; text-align: right; }
.sheet.uis.vertical .so.btns.categories .btn span { left: auto; right: 0; top: -48px; }

