.fpt { font-family: 'PlayTangram', sans-serif; }
.fsxi { font-size: 12px; }
.fsxii { font-size: 18px; }
.fsxiii { font-size: 22px; }
.fsxiv { font-size: 32px; }
.fsxv { font-size: 48px; }

.this {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	
	margin: 0;
	background-color: transparent;
	flex-direction: column;

	--rows: 5;
	--cols: 5;

	/* --gap: 4px; --hexagon-size: 48px; */
	--gap: max(2px, min(10vw, 1vh));
	--hexagon-size: max(16px, min(8vw, 8vh));

	--hFactor: 2;
	--wFactor: 1.732;
	--yOffset: 1.5;
}

.this h2 { font-size: 24px; }
.this h3 { font-size: 20px; }
.this p { font-size: 16px; user-select: none; margin: 0; }
.this a { font-size: 16px; }

@media (max-width: 768px) {
.this p { font-size: 14px; }
	.this a { font-size: 14px; }
}

@media (max-width: 480px) {
.this p { font-size: 10px; }
	.this a { font-size: 10px; }
}

.grid {
	position: relative;
	display: grid;
	grid-template-columns: repeat(var(--cols), calc(var(--hexagon-size)*var(--wFactor) + var(--gap)));
	grid-template-rows: repeat(var(--rows), calc(var(--hexagon-size)*var(--yOffset) + var(--gap)));
	/* set to 1.5 to get the y-offset */
	margin: 48px;
}

/* Calculate the relation of grid-tiles size for hexagons to have equal x and y gaps */
.hex {
	width: calc(var(--hexagon-size) * var(--wFactor));
	height: calc(var(--hexagon-size) * var(--hFactor));
	background-color: var(--hc-tg-green);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	margin: 0;
	display: block;
	transition: background-color 0.3s ease;
}

/* THIS NEEDS TO BE ADJUSTED WHEN CHANGING cols OR rows!!!
targeting hexagons in even rows - here 2 and 4*/
/* n + (numberOfRow) * (numberOfCols) +1) => -n + (numberOfRow) * 2* (numberOfCols) */
.hex:nth-child(n + 6):nth-child(-n + 10), .hex:nth-child(n + 16):nth-child(-n + 20) { 
	transform: translateX(calc(50% + var(--gap)*0.5)); 
}

/* exclude class color3 */
.hex:not(.hc-tg-blue):not(.none):hover { background-color: var(--hc-tg-yellow); }

/* target els by their className */
.hex.hc-tg-blue { background-color: var(--hc-tg-blue); }
/* Hexagon hover effect for .color3 - includes scaling and box-shadow */
.hex.hc-tg-blue:hover { background-color: var(--hc-tg-sky); transform: scale(1.1); z-index: 100; }

/* this does NOT go on the clippath but on the div - to follow cp would need a wrapper! */
/* .hex.hc-tg-blue:hover { box-shadow: inset 0 0 10px rgba(0, 100, 0, 0.5); } */

/* needs to keep the translate transform and add scale */
.hex:nth-child(16):hover { transform: translateX(calc(50% + var(--gap) / 2)) scale(0.9); }

/*target els as nth-child - the bg-color-hexagons*/
.hex.none { background-color: transparent; }

.hex>div {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hex>div img { position: absolute; z-index: 0; }
.hex>div p { color: #fff; text-align: center; margin: 0; z-index: 1; }
.hex>div a { text-decoration: none; color: #dae; z-index: 1; }

.hex.sly>div p { color: var(--hc-tg-green) }
.hex.sly>div a { position: relative; top: -64px; color: #fff; cursor: default; } 