.fpt { font-family: 'PlayTangram', sans-serif; color: #fff; }
.fbb { font-family: 'baby_bb33', sans-serif; }

.this { display: flex; justify-content: center; align-items: center; height: 100%; margin: 0; padding: 0; background-color: transparent; }

html, body { display: flex; width: 100%; height: 100%; margin: 0; padding: 0; background: #000; justify-content: center; align-items: center; overflow: hidden; }
body>main, article, .sheet { width: var(--w); height: var(--h); }
article { display: flex; flex-direction: column; width: 100%; height: 100%; justify-content: center; align-items: center; }

/** .sheet.bgs */
.sheet.bgs>div { width: 100%; display: flex; flex-wrap: wrap; }
.sheet.bgs>div p { position: absolute; width: 100%; bottom: 32px; font-size: 24px; line-height: 48px; color: #dae; text-align: center; user-select: none; }

/** .sheet.fgs */
.sheet.fgs>div { width: 100%; position: absolute; bottom: 128px; }
.sheet.fgs>div div { width: 100%; display: flex; flex-wrap: wrap; justify-content: center; }
.sheet.fgs>div p { width: 44px; height: 48px; margin: 4px; padding: 0 4px; border: 1px solid #dae6; border-radius: 8px; font-size: 24px; line-height: 28px; color: #dae6; user-select: none; }
.sheet.fgs>div p.on { color: #dae; }

/*** .sheet.uis */
.sheet.uis .so.btns { position: absolute; left: calc(100% + 8px); top: 50%; }
.sheet.uis.vertical .so.btns { display: flex; left: 50%; top: calc(100% + 8px); }

.sheet.uis .so.btns .btn { display: flex; width: 64px; height: 64px; border: 1px solid #dae2; justify-content: left; align-items: center; cursor: pointer; }
.sheet.uis.vertical .so.btns .btn { justify-content: right; }
.sheet.uis .so.btns .btn span { display: block; left: calc(100% + 8px); font-size: 0px; white-space: nowrap; }
.sheet.uis.vertical .so.btns .btn span { left: auto; top: calc(100% + 8px); }

.sheet.uis .so.btns .btn:hover span { font-size: 24px; }

.sheet.uis .btn.play { background: no-repeat 0 0 / 100% url(rsc/svg/ico-tansave.svg); }
.sheet.uis .btn.home { background: no-repeat 0 0 / 100% url(rsc/svg/ico-tanhome.svg); }
