.fpt { font-family: 'PlayTangram', sans-serif; color: #ffffff; }
.fbb { font-family: 'baby_bb33', sans-serif; }

.this { display: flex; justify-content: center; align-items: center; height: 100%; margin: 0; padding: 0; background-color: transparent; }

html, body { display: flex; width: 100%; height: 100%; margin: 0; padding: 0; background: #222; justify-content: center; align-items: center; overflow: hidden; }
body>main, article, .sheet { width: var(--w); height: var(--h); }
article { display: flex; flex-direction: column; width: 100%; height: 100%; justify-content: center; align-items: center; }


.so.btns { position: absolute; left: calc(100% + 8px); top: 50%; }
.btn { display: flex; width: 64px; height: 64px; border: 1px solid #dae2; justify-content: left; align-items: center; cursor: pointer; }
.btn span { display: block; left: calc(100% + 8px); font-size: 0px; white-space: nowrap; }
.btn:hover span { font-size: 24px; }
.btn.home { background: no-repeat 0 0 / 100% url(rsc/svg/ico-tanhome.svg); }