@font-face { font-family: "PlayTangram"; src: url("../woad/font/PlayTangram.woff2") format("woff2"); font-display: swap; }
@font-face { font-family: "baby_bb33"; src: url("../woad/font/baby_bb33.woff2") format("woff2"); font-display: swap; }
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

:root {
	--w: 1280px;
  	--h: 1280px;
	--thumb-nail: 128px;
	--thumb-margin: 8px;

	--hc-tg-blue: #45537B;
	--hc-tg-sky: #2D91B7;
	--hc-tg-green: #7CAA2A;
	--hc-tg-pink: #E62D8B;
	--hc-tg-red: #E71223;
	--hc-tg-orange: #EE7439;
	--hc-tg-lotto: #EE7439;
	--hc-tg-yellow: #E9D226;
	--hc-tg-black: #101F0E;

	--hc-sky-xv: #3498db;
	--hc-white-xi: #fff;
	--hc-orange-xvi: orange;
}

html, body {
  position: relative; 
  display: flex;
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #000;
  box-sizing: border-box;
}

body {
  background: #000;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */

	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Segoe UI", "Malgun Gothic", sans-serif;
}

body::-webkit-scrollbar { display: none; } /* 크롬, 오페라, 사파리 */

/* 드래그 및 터치 옵션 차단 */
canvas { 
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	touch-action: none;
	overscroll-behavior: none;
}

/*** Tangram */
/* button */
button { width: auto; height: auto; margin: 2px; padding: 0; background: none; border-radius: 6px; pointer-events: fill; }
button span { position: relative; color: #444; font: 16px 'Black Han Sans', sans-serif; user-select: none; pointer-events: none; }
button:hover span { color: #fff; pointer-events: none; }

.sheet { /* bgs, fgs, uis... */ position: absolute; display: flex; flex-direction: column; width: 100%; height: 100%; justify-content: center; align-items: center; }
.sheet.uis { pointer-events: none; }
.sheet.uis .seg.btns, .sheet.uis .seg.btns>div { width: auto; height: auto; }

.bg { color: #eda; }
.fg { color: #dae; }
.ui { color: #aed; }

header { position: absolute; width: 100%; height: auto; bottom: 0; color: #dae2; font: 16px 'Gowun Dodum', sans-serif; text-align: left; pointer-events: none; }
footer { position: absolute; width: 100%; height: auto; bottom: 0; color: #dae2; font: 16px 'Gowun Dodum', sans-serif; text-align: right; pointer-events: none; }

/***  */
